In [ ]:
from google.colab import drive
drive._mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
history = pd.read_csv('/content/drive/MyDrive/Tasks/15/switching_with_reinforcement_masters.zip (Unzipped Files)/switching_with_reinforcement_masters/history.csv')
submit = pd.read_csv('/content/drive/MyDrive/Tasks/15/switching_with_reinforcement_masters.zip (Unzipped Files)/switching_with_reinforcement_masters/submit.csv')

In [ ]:
history.head()

   state  action  reward next_state
0  16474       1      -8      16474
1  d3c5f       0      -3      40cec
2  00ced       0      -1      00431
3  1b359       1      -1      9ef91
4  abc17       1      -3      abc17

In [ ]:
submit.head()

   state  action0  action1  action2
0  ee89d       34       33       33
1  fefed       34       33       33
2  b6591       34       33       33
3  1bd7a       34       33       33
4  a7b1c       34       33       33

In [ ]:
def softmax(x):
  return np.exp(x*.5)/sum(np.exp(x*.5))

In [ ]:
state = 'ee89d'
history[history['state']== state]

        state  action  reward next_state
356     ee89d       1      -9      ee89d
488     ee89d       1      -9      ee89d
1215    ee89d       2      -1      ee89d
1487    ee89d       1      -9      ee89d
4361    ee89d       0      -5      c812d
...       ...     ...     ...        ...
496175  ee89d       0      -5      c812d
496231  ee89d       1      -9      ee89d
496646  ee89d       0      -5      c812d
498303  ee89d       2      -1      ee89d
498694  ee89d       1      -9      ee89d

[428 rows x 4 columns]

In [ ]:
state = 'ee89d'
rewards = history[history['state']== state].groupby('action').mean()['reward']
# softmax(rewards)
rewards

action
0   -5
1   -9
2   -1
Name: reward, dtype: int64

In [ ]:
softmax(rewards)

action
0    0.117310
1    0.015876
2    0.866813
Name: reward, dtype: float64

In [ ]:
# from scipy.special import softmax

for index, row in submit.iterrows():
    state = row['state']
    rewards = history[history['state']== state].groupby('action').mean()['reward']
    try:
      softmax_  =  softmax(rewards)
      submit.loc[submit.state == state, 'action0'] = int(100 * softmax_[0])
      submit.loc[submit.state == state, 'action1'] = int(100 * softmax_[1])
      submit.loc[submit.state == state, 'action2'] = int(100 * softmax_[2])
    except:
      pass

In [ ]:
submit

      state  action0  action1  action2
0     ee89d       11        1       86
1     fefed        0       49       49
2     b6591       99        0        0
3     1bd7a       11        1       86
4     a7b1c        1       49       49
...     ...      ...      ...      ...
1004  94812       99        0        0
1005  06f97        4        4       90
1006  4932c        0       99        0
1007  c16c1       68        5       25
1008  dce8a       86       11        1

[1009 rows x 4 columns]

In [ ]:
submit.to_csv('task15.csv', index=False)